   <footer class="px-6 pt-8 md:px-16 lg:px-36 w-full text-gray-300 bg-black">
  <div class="flex flex-col md:flex-row justify-between w-full gap-10 border-b border-gray-500 pb-10">
    <div class="md:max-w-96">
      <a href="/" onclick="window.scrollTo(0,0)">
        <img class="max-w-52 h-auto" src="/images/logo.webp" alt="logo" />
      </a>
      <p class="mt-6 text-sm">
        Wealthwave Consulting is a specialised advisory firm focused on
        helping international investors access opportunities in Libya and
        Tunisia.
      </p>
    </div>
    <div class="flex-1 flex items-start md:justify-end gap-20 md:gap-40">
      <div>
        <h2 class="font-semibold mb-5">Company</h2>
        <ul class="text-sm space-y-2">
          <li><a href="/">Home</a></li>
          <li><a href="/services/">Services</a></li>
          <li><a href="/about/">About us</a></li>
          <li><a href="/contact/">Contact us</a></li>
        </ul>
      </div>
      <div>
        <h2 class="font-semibold mb-5">Get in touch</h2>
        <div class="text-sm space-y-2">
          <p>+216-28-525-977</p>
          <p>contact@example.com</p>
        </div>
      </div>
    </div>
  </div>
  <p class="pt-4 text-center text-sm pb-5">
    
  </p>
</footer>