<div class="bg-gradient-to-r from-[#570A63]/90 to-[#1d5a79]/100 p-5 md:p-20">
  <h1 class="text-white font-bold text-3xl md:text-5xl md:max-w-5xl text-center m-auto p-1 md:p-6">
    Ride the wave of strategic wealth creation.
  </h1>

  <p class="text-white max-w-xl font-normal text-lg md:text-2xl p-4 text-center mx-auto h-28">
    Helping investors access real opportunities in Libya and Tunisia through market research, financial planning, and local expertise.
  </p>

  <div class="flex gap-6 justify-center items-center p-5">
    <a href="/contact" class="bg-white p-4 rounded-md">
      Let's Talk
    </a>
    <a href="/services" class="bg-[#2C2C2C] text-white p-4 rounded-md">
      How We Help
    </a>
  </div>
</div>
