<div class="relative bg-gradient-to-r from-[#570A63]/90 to-[#1d5a79]/100 md:p-20 overflow-hidden">
  <div class="relative z-10 text-center p-10 md:p-20 text-center">
    <h1 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl">
      Ride the wave of strategic wealth creation.
    </h1>
    <p class="mt-8 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
      Helping investors access real opportunities in Libya and Tunisia through market research, financial planning, and local expertise.
    </p>
    <div class="flex gap-6 justify-center p-5">
      <a href="/contact" class="bg-white text-black p-4 rounded-md hover:scale-105 transition">Let's Talk</a>
      <a href="/services" class="bg-[#2C2C2C] text-white p-4 rounded-md hover:scale-105 transition">How We Help</a>
    </div>
  </div>

  <!-- Responsive image -->
  <img
    src="/images/cube.png"
    alt="cube-image"
    class="
      absolute hidden md:block opacity-90
      bottom-[-120px] right-[-60px] w-64
      md:bottom-[-200px] md:right-[-80px] md:w-lg
      lg:bottom-[-240px] lg:right-[-100px] lg:w-xl
      xl:bottom-[-240px] xl:right-[-120px] xl:w-[40rem]
      2xl:bottom-[-360px] 2xl:right-[-140px] 2xl:w-[55rem]
    "
  />
</div>
