<div class="bg-[#202020]">
  <p class="text-lg md:text-2xl italic p-5 md:p-10 font-medium text-white max-w-5/6 text-center m-auto">
    “We are a Tunisia-based consulting team helping companies streamline
    operations, optimize processes, and scale sustainably.”
  </p>
</div>
